.alertsList {
  margin-top: 5vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.alerts-page-body {
  flex-grow: 1;
  background-color: #f4f1de;
  margin: 0 auto;
  width: 30vw;
}

@media screen and (max-width: 600px) {
  .alerts-page-body {
    background-color: #f4f1de;
    margin: 0 auto;
    width: 100vw;
  }
}
.alerts-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}