:root {
    --main-font: 'Inter';
    --primary-color: white;
    --secondary-color: blue;
    --tertiary-color: green;
    --background-color: #f4f1de;
    --footer-height: 6vh;
    --header-height: 9vh;
}