.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background: #F2CC8F;
    padding: 20px;
    border-radius: 5px;
  }

  h1 {
    color: #3D405B;
  }

