.content {
  height: 100%;
}

.finances-page-content {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.transactionListContainer {
  position: relative;
  width: 100%;
  background-color: white;
}

.addTransactionButton {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.addTransactionButton .button {
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #dd0100;
  padding: 20px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1vw;
}

.form-container .amount-field {
  margin-left: 1em;
} 

@media (min-width: 768px) {
  .form-container {
    max-width: 428px;
  }
  .form {
    max-width: 428px;
  }
}

h1 {
  color: #3d405b;
}

li {
  background-color: white;
  list-style: none;
}

.sort-by-container {
  margin-right: 1vw;
  margin-left: 1vw;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sort-by-container label {
  font-size: small;
}

.imessage {
  margin: 0 1vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  max-width: 100vw;
}

.imessage p {
  background-color: white;
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  text-align: left;
  align-self: flex-end;
  background-color: #248bf5;
  color: white;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}
