.footer {
    max-height: 10vh;
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    width: 30vw;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .footer {
        width: 100vw;
    }
  }