.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--footer-height);
  background-color: white;
  width: var(--max-width);
}
