.header {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 20px;
    background-color: #F2CC8F;
    z-index: 10;
}

.headerLogo {
    display: flex;
    height: 8vh;
    width: 8vh;
}

.houseName {
    position: relative;
    right: -0.5vw;
    color: #3D405B;
    font-size: 3vh;
}

.profile {
    position: relative;
    right: -1vw;
    color: #3D405B;
    width: 10vh;
    height: 10vh;
    font-size: large;
}