.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: #225095;
  width: var(--max-width);
}

.header + * {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.headerLogo {
  padding-left: 1em;
  display: flex;
  height: 4em;
  width: 4em;
}

.houseName {
  right: -0.5vw;
  color: #EAEFE9;
  font-size: 1.8rem;
}

.profile {
  color: #fac901;
  width: 5em;
  height: 5rem;
}
