.homeBody {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.roomButton {
  text-align: center;
  height: 6rem;
  width: 9rem;
}