.homeBody {
  position: relative;
  height: 100%;
}

.bodyButtons {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--header-height) - 40px);
  top: calc(var(--header-height));
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.roomButton {
  text-align: center;
  height: 6rem;
  width: 9rem;
}