.homeBody {
  background-color: #f4f1de;
  margin: 0 auto;
  width: 30vw;
}

@media screen and (max-width: 600px) {
  .homeBody {
    background-color: #f4f1de;
    width: 100vw;
    margin: 0 auto;
  }
}