<<<<<<< HEAD
.loginPageContainer {
    height: 100vh;
    background-color: #f4f1de;
}
=======
#outer {
	height: 100vh;
	background-color: #fff;
	text-align: left;
}

.logoContainer {
    box-sizing: border-box;
    width: 100%;
    height: 23%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputArea {
    min-height: 65%;
}

.loginArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
    padding-bottom: 3%;
}

.loginArea input {
    margin-bottom: 3%;
    padding: 0.1rem 0.5rem;
    line-height: 2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid #7d7c7c;
}

#loginBtn {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    border: 1px solid #cbcbcb;
    background-color: #e0e0e0;
    text-decoration: underline;
}

#loginBtn:hover {
    cursor: pointer;
}

.signupArea {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

#signupBtn:hover {
    cursor: pointer;
}


.loginFooter {
    box-sizing: border-box;
    width: 100%;
    height: 12%;
    background-color: #ededed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    padding-bottom: 1%;
}

@media (min-width: 768px) {
    .loginFooter {
      max-width: 428px;
    }
  }
  

.loginFooter h5 {
    margin: 0;
}
>>>>>>> origin
