.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 1px solid black;
  }


  #uploadPic {
    display: none;  
  }

  .custom-file-upload {
    font-size: 10px;
  }