.whatever {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
  } 

.whatever img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 70px;  
}

#uploadPic {
    display: none;  
}

.custom-file-upload {
    font-size: 10px;
}

