.welcomePageContainer {
    background-color: #f4f1de;
    box-sizing: 'border-box'
}

.welcomeLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeLogo {
    position: relative;
    width: 15rem;
}

