.welcomePageContainer {
    background-color: white;
    box-sizing: 'border-box';
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.welcomeLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.welcomeButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeLogo {
    position: relative;
    width: 15rem;
}

.welcomePageButtons {
    text-align: center;
    width: 15rem;
    height: 3rem;
}
