
:root {
  --main-font: 'Inter';
  --primary-color: white;
  --secondary-color: blue;
  --tertiary-color: green;
  --background-color: rgb(226, 226, 226);
  --footer-height: 50px;
  --header-height: 80px;
  --max-width: 100%;
}


@media (min-width: 768px) {
  :root {
    --max-width: 428px;
  }
}

@font-face {
  font-family: 'Heading';
  src: url('./fonts/Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Body';
  src: url('./fonts/Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Description';
  src: url('./fonts/MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Regular';
  src: url('./fonts/Regular.otf') format('opentype');
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
}

p,
ul,
ol {
  font-family: 'Body', sans-serif;
}

alt {
  font-family: 'Description', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
