:root {
  --main-font: "Inter";
  --primary-color: white;
  --secondary-color: blue;
  --tertiary-color: green;
  --background-color: rgb(226, 226, 226);
  --footer-height: 50px;
  --header-height: 80px;
  --max-width: 100%;
}

@media (min-width: 768px) {
  :root {
    --max-width: 428px;
  }
}

@font-face {
  font-family: "Heading";
  src: url("./fonts/Bold.otf") format("opentype");
}

@font-face {
  font-family: "Body";
  src: url("./fonts/Medium.otf") format("opentype");
}

@font-face {
  font-family: "Description";
  src: url("./fonts/MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Regular";
  src: url("./fonts/Regular.otf") format("opentype");
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heading", sans-serif;
}

p,
ul,
ol {
  font-family: "Body", sans-serif;
}

alt {
  font-family: "Description", sans-serif;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Body", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  align-items: center;
  background: #6B8E23;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Regular";
  font-size: medium;
  justify-content: center;
  line-height: 1rem;
  padding: 10px;
  margin: 1rem;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

button:hover {
  background: #eaefe9;
  color: #050103;
  border: 2px solid black;
}

.wrapper .control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}

.wrapper .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.wrapper .indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

.wrapper .control:hover input ~ .indicator,
.wrapper .control input:focus ~ .indicator {
  background: #dd0100;
}

.wrapper .control input:checked ~ .indicator {
  background: #fac901;
}

.wrapper .control:hover input:not([disabled]):checked ~ .indicator,
.wrapper .control input:checked:focus ~ .indicator {
  background: #fac901;
}

.wrapper .control input:disabled ~ .indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.wrapper .indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapper .control input:checked ~ .indicator:after {
  display: block;
}

.wrapper .control-checkbox .indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.wrapper .control-checkbox input:disabled ~ .indicator:after {
  border-color: #7b7b7b;
}
